*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

body {
  background: var(--white);
  color: var(--text-color);
  font-size: $font-sm;
  font-family: $font-family;
  min-height: 100vh;
}

.container {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flow > * + * {
  margin-top: var(--spacer, 1rem);
}

.section-title {
  font-size: $font-lg;
  font-weight: 500;
}
