.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 5rem;
}

.options {
  .ships-container {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.4rem;
      color: $mariner-700;
    }

    .carrier,
    .battleship,
    .cruiser,
    .submarine,
    .destroyer {
      cursor: pointer;
    }

    .ship-square {
      background: $mariner-500;
      border: 1px solid #333;
      width: 2.5rem;
      height: 2.5rem;
      pointer-events: none;
    }
  }
}

.game-board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 400px;
  height: 400px;
  margin: 0 auto;
  transition: all 500ms ease-in-out;

  .square {
    border: 1px solid $mariner-500;
    cursor: pointer;
  }

  .y-coordinates,
  .x-coordinates {
    position: absolute;
    display: flex;
    gap: 1.6rem;
    font-size: 0.8rem;
    pointer-events: none;
  }

  .y-coordinates {
    top: 13px;
    left: -20px;
    flex-direction: column;
  }

  .x-coordinates {
    top: -20px;
    left: 15px;
    gap: 2.05rem;
  }
}

[selected="true"] .ship-square {
  opacity: 0.6;
}

.hovered {
  background: $mariner-600;
}

.occupied {
  background: $mariner-600;
  outline: 1px solid $mariner-300;
  transition: all 300ms ease-in-out;
}

.enemy-board .square:hover {
  background: rgba(0, 255, 0, 0.1);
}

.hit {
  background: red !important;
  transition: all 300ms ease-in-out;
}

[hidden="true"] {
  visibility: hidden;
}

.hide-ship {
  background: none;
}

.hide-board {
  position: absolute;
  visibility: hidden;
  transform: translateX(-50%);
  transition: all 200ms ease-in-out;
}

.hide-options {
  display: none;
}

.miss {
  background: $mariner-200 !important;
  transition: all 300ms ease-in-out;
}

.game-start {
  width: 300px;
  height: 300px;
  pointer-events: none;
  opacity: 0.6;

  .y-coordinates {
    top: 11px;
    left: -20px;
    flex-direction: column;
    gap: 0.93rem;
  }

  .x-coordinates {
    top: -20px;
    left: 13px;
    gap: 1.4rem;
  }
}
