// Colors
$mariner-50: #f2f8fd;
$mariner-100: #e4eefa;
$mariner-200: #c3ddf4;
$mariner-300: #8fc2ea;
$mariner-400: #53a2dd;
$mariner-500: #2b82c5;
$mariner-600: #1d69ac;
$mariner-700: #19558b;
$mariner-800: #184974;
$mariner-900: #1a3d60;

// Typography
$font-xlg: 3.125rem;
$font-lg: 1.875rem;
$font-med: 1.5rem;
$font-sm: 1rem;
$font-xsm: 0.75rem;
$font-family: "Public Sans", sans-serif;
